{% extends 'base_alerts.html' %}

{% block content_alerts %}

<h2 class="info_dark_blue"><strong>Resetea tu contraseña</strong></h2>
<form autocomplete="off" enctype="multipart/form-data" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="container text-center small_container">
        <div class="max-auto">
            <div class="form-floating">
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                {% for error in form.email.errors %}
                <span>{{error}}</span>
                {% endfor %}
                {% else %}
                {{ form.email(class="form-control form_sign_in") }}
                {% endif %}
                {{ form.email.label (class="my-label-class") }}
            </div>
        </div>
        {{ form.submit(class="info_blue_bg button lg_button mt_05 mb_1") }}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
            <strong>
                {{ message }}
            </strong>
            <button aria-label="Close" class="btn-close" data-dismiss="alert" type="button">
                <span aria-hidden="true"></span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</form>
{% endblock content_alerts %}