

<nav class="navbar navbar-expand-md fixed-top navigation dark_violeta_bg">
    <a style="color:white" class="navbar-brand" href="{{ url_for('home') }}#home" onclick="document.getElementById('home_navbar').click();">
    mariamedina</a>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span id="collapse_button" class="navbar-toggler-icon"></span>
    </button>
    <div style="navbar" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto text-center home_page">
            <li id= "home_li" class="navbar-item" onclick="document.getElementById('home_navbar').click();">
                <a id="home_navbar" class="nav-link" href="{{url_for('home')}}#home" >Home</a>
            </li>
            <li class="navbar-item" onclick="document.getElementById('info_navbar').click();" >
                <a id="info_navbar" class="nav-link" href="{{url_for('about')}}" >About</a>
            </li>
            <li class="navbar-item" onclick="document.getElementById('projects_navbar').click();">
                <a id="projects_navbar" class="nav-link" href="{{url_for('projects')}}">Projects</a>
            </li>
        </ul>
    </div>
</nav>

