{% extends 'base.html' %}

{% include "navbar_alternative.html" %}
{% block content %}


<div class ="container mt_8">
  <div class="max-auto mll_5">
    <h1 class="">Privacy Policy</h1>

    <p>At <strong>mmcprojects.dev</strong>, we prioritize the privacy and protection of your personal information. This Privacy Policy outlines how we collect, use, and handle the data we obtain from users who visit and interact with our website. Please take a moment to review the following information to understand our practices regarding data privacy.</p>

    <h2>Data Collection</h2>

    <p>We collect certain information when you visit our website or interact with our services. This may include personal information such as your name, email address, and any other information you provide voluntarily during the registration process. We also gather non-personal information automatically, such as your IP address, browser type, and device information, through the use of cookies and similar technologies. By using our website, you consent to the collection of this data.</p>

    <h2>Cookie Usage</h2>

    <p>We use cookies to enhance your browsing experience and provide personalized content. Cookies are small text files stored on your device that help us recognize you and analyze your preferences. You have the option to accept or decline cookies. However, please note that disabling cookies may limit certain functionalities of our website.</p>

    <h2>Use of Personal Information</h2>

    <p>We use the personal information collected for the following purposes:</p>

    <ul>
        <li>To provide and maintain our services, including user registration and account management.</li>
        <li>To communicate with you regarding updates, news, and promotions related to our services.</li>
        <li>To analyze website usage and improve our offerings.</li>
        <li>To comply with legal obligations or enforce our Terms of Service.</li>
    </ul>

    <h2>Data Retention</h2>

    <p>We retain your personal information only for as long as necessary to fulfill the purposes for which it was collected and to comply with legal requirements. When your data is no longer needed, it will be securely deleted or anonymized.</p>

    <h2>Data Security</h2>

    <p>We implement appropriate technical and organizational measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, please be aware that no data transmission over the internet or electronic storage method can be guaranteed to be 100% secure.</p>

    <h2>Data Sharing</h2>

    <p>We do not sell, trade, or transfer your personal information to third parties without your explicit consent, except as required by law or as necessary to provide our services. We may share data with trusted third-party service providers who assist us in operating our website, conducting business activities, or servicing you. These parties are obligated to maintain the confidentiality and security of your information.</p>

    <h2>Rights Under GDPR</h2>

    <p>If you are located in the European Union, you have certain rights under the General Data Protection Regulation (GDPR). These include the right to access, rectify, or erase your personal information, as well as the right to restrict or object to certain data processing activities. To exercise your rights or obtain more information, please contact us using the details provided below.</p>

    <h2>Updates to Privacy Policy</h2>

    <p>We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We encourage you to review this page periodically for any updates. Your continued use of our website after the changes have been made indicates your acceptance of the updated Privacy Policy.</p>

    <p>If you have any questions or concerns about our Privacy Policy or the way we handle your personal information, please contact us at <a href="mailto:mmcprogramacion@gmail.com">this link</a>. We are committed to addressing any inquiries or issues promptly and transparently.</p>

  </div>
</div>

{% endblock content %}