{% extends 'base_alerts.html' %}

{% block content_alerts %}

<h2 class="info_dark_blue"><strong>Resetea tu contraseña</strong></h2>
<form autocomplete="off" method="POST">
    {{ form.hidden_tag() }}
    <div class="container text-center small_container">
        <div class="max-auto">
            <div class="form-floating">
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                {% for error in form.password.errors %}
                <span>{{error}}</span>
                {% endfor %}
                {% else %}
                {{ form.password(class="form-control form_sign_in") }}
                {% endif %}
                {{ form.password.label (class="my-label-class") }}
            </div>
            <div class="form-floating">
                {% if form.confirmar_password.errors %}
                {{ form.confirmar_password(class="form-control is-invalid") }}
                {% for error in form.confirmar_password.errors %}
                <span>{{error}}</span> <br>
                {% endfor %}
                {% else %}
                {{ form.confirmar_password(class="form-control form_sign_in") }}
                {% endif %}
                {{ form.confirmar_password.label (class="my-label-class") }}
            </div>
        </div>
        {{ form.submit(class="info_blue_bg button lg_button mt_05 mb_1") }}
    </div>
</form>
{% endblock content_alerts %}