{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block content %}

{% include "navbar_alternative.html" %}
<!--WEBCONTAINER-->
<button
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        type="button"
>
    <img alt="" src="../static/images/arrow-up.png" style="width:50%; height:50%">
</button>

<div class="all_web_container">
    <section class=" section mtl_8 ptl_3 mts_7 mbl_7">
        <div class="text-center mbl_3">
            <h1 class="info_dark_blue" style="display:inline-block"> Improve your results with
                <strong>Seo-Traker</strong></h1>
        </div>
        <br class="only_large">
        <div class="container">
            <div class="row ">

                <div class="container col-lg-6 mtl_2 px-4">
                    <div class="d-flex flex-column mts_1">
                        <h2 class="mb_05 info_blue">The tool you need</h2>
                        <h3 class="reduce_mobile mbs_05"><strong>Track</strong> the Google position of
                        as many <strong>keywords</strong> and <strong>companies</strong> as you need
                        </h3>
                        <h5 class="mbs_05 mts_05">Give your business a boost and optimize your working time. With this
                        tool, you will be able to save days of work that you used to spend on manual Google searches.</h5>
                        <div class="mbs_2 ">
                            <a class="info_blue_bg button lg_button mt_05"
                               href="#trial"> Try it out for free!</a>
                        </div>
                    </div>
                </div>

                <div  class="video seo_video container col-lg-6 mtl_1 mbs_3">
                    <video class="seo_video_mp4" autoplay loop muted src="../static/images/SEO_VIDEO.mp4"></video>
                </div>

            </div>
        </div>

    </section>

    <section class="section light_blue_bg pbl_3 ptl_3 pbs_2 pts_2 ">
        <div class="d-flex flex-column ">
            <div class="text-center  ">
                <h2 class="info_blue mbl_1  mbs_1" style="display:inline-block;">How does
                <strong>SEO-Tracker</strong> work?</h2>
            </div>

            <div class="pll_6 pls_2 prl_6 prs_2">
                <h3>Designed for one purpose: </h3> <br>
                <h4>SEO-Traker <strong>facilitates</strong> Google position analysis for SEO agencies or
                entrepreneurs.
                It is a desktop program with a very simple operation: <br>
                <br></h4>

                <ol class="seo_ol">
                    <li class="seo_li"> Import an Excel file with the companies and keywords.</li>
                    <li class="seo_li">At regular intervals, we solve a captcha.</li>
                    <li class="seo_li">The program waits for us to solve it.</li>
                    <li class="seo_li">At any time, we can download the results.</li>
                </ol>

            </div>

        </div>
    </section>

    <section class="section pts_3 ">
        <div class="mbl_5">
            <div class="text-center mtl_4  mbs_2">
                <h2 class="info_blue mbl_1 mtl_1" style="display:inline-block;"> Why SEO Managers
                <strong>need</strong> this tool</h2>
            </div>
            <br class="only_large">
            <br class="only_large">
            <div class="container">
                <div class="row">
                    <div class="container col-lg-4 px-4 mbs_3">
                        <div class="d-flex flex-column">
                            <div class="text-center mb_05">
                                <img class="seo_img" src="../static/images/reloj_png.png"
                                     style="height:5em; width:5em;margin-bottom:1em">
                            </div>
                            <div class="text-center">
                                <h2 class="">Save Time</h2>
                            </div>
                            <h4 class=" reduce_mobile"><strong>Optimize</strong> your time and that of your employees,
                            and switch to <strong>automated searches</strong>
                            </h4>
                            <h5 class="mt_05">You will no longer have to perform manual searches. Run the program and wait: the program takes around 8 seconds per search.</h5>

                        </div>
                    </div>
                    <div class="container col-lg-4 px-4 mbs_3">
                        <div class="d-flex flex-column ">
                            <div class="text-center mb_05">
                                <img src="../static/images/question.png"
                                     style="height:5em; width:5em;margin-bottom:1em">
                            </div>
                            <div class="text-center">
                                <h2 class="">Incognito Mode</h2>
                            </div>
                            <h4 class="reduce_mobile">Get<strong> reliable results</strong> with searches in Firefox without history and in incognito mode
                            </h4>
                            <h5 class="mt_05">Perform searches just as you would manually, so that nothing changes. This is the only system that guarantees 100% accuracy.</h5>

                        </div>
                    </div>
                    <div class="container col-lg-4 px-4 mbs_3">
                        <div class="d-flex flex-column ">
                            <div class="text-center mb_05">
                                <img src="../static/images/infinito.png"
                                     style="height:5em; width:18em;margin-bottom:1em">
                            </div>
                            <div class="text-center">
                                <h2 class="">No Limits</h2>
                            </div>
                            <h4 class="a reduce_mobile">TAs many <strong>companies</strong> and <strong>keywords</strong> as you need, paying a <strong>single subscription</strong>
                            </h4>
                            <h5 class="mt_05">There are no limits of any kind. Use our program as much as you need with your monthly subscription. </h5>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <section class="section mtl_8 mbl_5 mbs_4" id="trial">
        <div class="text-center ">
            <h2 class="info_blue mtl_1 mb_1" style="display:inline-block;"> Start your<strong> trial period</strong> today</h2>
        </div>
        <div class="container text-center mw_10">
            <div class=" pt_3 pb_2 prl_3 pll_3 mx-auto mw_700 shadow rounded  light_blue_bg" id="register_now">
                <!-- Inserta tu email -->
                <div class="text-center">
                    <h3 style="display:inline-block;">Register to get your trial subscription</h3><br><br>
                    <h3>Free for 30 days!</h3><br>
                    <h5>After the trial period, if you like the software, you can renew it for €30/month, including VAT. No commitments!</h5><br>
                </div>

                <form autocomplete="off" enctype="multipart/form-data" method="POST" novalidate>
                    {{ form.hidden_tag() }}
                    <!-- El box visible-->
                    <div class="container text-center medium_container">
                        <div class="max-auto">
                            {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            {% for error in form.email.errors %}
                            <span>{{error}}</span>
                            {% endfor %}
                            {% else %}
                            {{ form.email(class="form-control") }}
                            {% endif %}

                        </div>
                        <div class="">
                            <button class="button white_button_info_blue lg_button mt_1 mb_2" id="show_button"
                                    type="button">
                                <strong>Get your free trial</strong>
                            </button>
                        </div>
                    </div>
                    <!-- El box invisible-->
                    <div class="container text-center medium_container" id="hidden_elements">
                        {% if form.nombre.errors %}
                        {{ form.nombre(class="form-control is-invalid") }}
                        {% for error in form.nombre.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                        {% else %}
                        {{ form.nombre(class="form-control") }}
                        {% endif %}

                        {% if form.apellidos.errors %}
                        {{ form.apellidos(class="form-control is-invalid") }}
                        {% for error in form.apellidos.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                        {% else %}
                        {{ form.apellidos(class="form-control") }}
                        {% endif %}

                        {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        {% for error in form.password.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                        {% else %}
                        {{ form.password(class="form-control") }}
                        {% endif %}

                        {% if form.confirmar_password.errors %}
                        {{ form.confirmar_password(class="form-control is-invalid") }}
                        {% for error in form.confirmar_password.errors %}
                        <span>{{error}}</span> <br>
                        {% endfor %}
                        {% else %}
                        {{ form.confirmar_password(class="form-control") }}
                        {% endif %}

                        {% with messages = get_flashed_messages() %}

                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
                            <strong>
                                {{ message }}
                            </strong>
                            <button aria-label="Close" class="btn-close" data-dismiss="alert" type="button">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        {{ form.submit(class="button white_button_info_blue lg_button mt_1 mb_2") }}
                    </div>
                </form>
            </div>
        </div>
    </section>


</div>

<section class="section">
    <!--Footer-->

    <!--End of footer-->
</section>

<!--Back to top button-->

<!--Mostras elementos al pulsar el boton, o al cargar la web despues de error de registro-->
<script>
const showButton = document.getElementById("show_button");
const hiddenElements = document.getElementById("hidden_elements");

{% if click %}
showButton.click();
showButton.style.display = "none";
hiddenElements.style.display = "block";
{% endif %}

showButton.addEventListener("click", function() {
showButton.style.display = "none";
hiddenElements.style.display = "block";
});

</script>


<script>

//Get the button
let mybutton = document.getElementById("btn-back-to-top");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
  scrollFunction();
};

function scrollFunction() {
  if (
    document.body.scrollTop > 20 ||
    document.documentElement.scrollTop > 20
  ) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
mybutton.addEventListener("click", backToTop);

function backToTop() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}



</script>

<script>
  {% if invalid %}
    // Get the div element with id "register_now"
    var registerDiv = document.getElementById("register_now");

    // Scroll down to the div element
    registerDiv.scrollIntoView();
  {% endif %}

</script>

{% endblock content %}
