{% extends 'base.html' %}

{% block head %}
    <link href="../static/styles.css" rel="stylesheet">
{% endblock head %}

{% block content %}

{% include "navbar_alternative.html" %}

<!--WEBCONTAINER-->

<div class="login_web_container ptl_5 ">
    <div class="text_block mb_05 mt_1">
        <!-- DIV PARA FORMULARIO-->
        <div class="color_box small_box shadow rounded text-center">
            <!-- Inserta tu email -->
            <div class="text-center mb-4">
                <h2> Your account </h2>
            </div>
            <h5>Name: <span class="info_blue"> {{current_user.nombre}}</span></h5>
            <h5>Last Name: <span class="info_blue">{{current_user.apellidos}}</span></h5>
            <h5>Email: <span class="info_blue">{{current_user.email}}</span></h5>

            {% if current_user.suscripcion_activa == "1" %}
            <h5>Suscription: <span class="info_blue">Yes</span></h5>
            <h5>Valid until:<span class="info_blue"> {{current_user.caducidad_suscripcion}}</span></h5>

            {% endif %}
            <h5>Serial:<span class="info_blue"> {{current_user.access_token}}</span></h5>

            <a class="btn btn-primary btn-lg login_button"
                               href={{url_for("logout")}}> Logout </a>
        </div>


        {% if current_user.suscripcion_activa == "1" %}
         <div class="text_block mt_1">
        <!-- DIV PARA FORMULARIO-->
        <div class="color_box small_box shadow rounded text-center">
            <!-- Inserta tu email -->
            <div class="text-center mb-4">
                <h2> Download Instructions </h2>
            </div>
            <h6>Download the program and install it first. When you execute it, you might see a black window.</h6>
            <h6>Do not close the black window.</h6>
            <h6>If the program doesn't work, check your antivirus configuration.</h6>
            <h6>Download the excel to import as an example.</h6>

            <a class="btn btn-primary btn-lg login_button"
                               href={{url_for("download_file")}}> Download file </a>
            <a class="btn btn-primary btn-lg login_button"
                               href={{url_for("download_excel")}}> Download excel </a>

        </div>

        {% endif %}
    </div>
</div>

<!--Footer-->
{% include "footer.html" %}
<!--End of footer-->

<script>
const showButton = document.getElementById("show_button");
const showButton2 = document.getElementById("show_button2");
const hiddenElements = document.getElementById("hidden_elements");

showButton.addEventListener("click", function() {
  showButton.style.display = "none";
  showButton2.style.display = "none";
  hiddenElements.style.display = "block";
});

</script>

{% endblock content %}